{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block sub_body %}
    <h1 class="text-center">Admin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.firstname }}</td>
                <td>{{ admin.lastname }}</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.roles ? admin.roles|join(', ') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('admin_show', {'id': admin.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('admin_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_new') }}">Create new</a>
{% endblock %}
